.navcontain {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  z-index: 2000;

  background-color: #f4f4f5;
  padding: 2rem;
  .navbar {
    width: 80%;
    margin: 0rem auto;
    display: flex;
    justify-content: space-between;

    .left {
      .search {
        display: flex;
        align-items: center;
        background: #1e2832;
        padding: 0.5rem;
        color: white;
        transition: all 0.25s ease-in-out;
        &:hover {
          background: #f4f4f5;
          color: black;
        }
      }
    }

    .right {
      display: flex;
      gap: 1rem;
      align-items: center;
      justify-content: baseline;
      .account {
        background-color: #1e2832;
        color: white;
        padding: 0.65rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        transition: all 0.5s ease-in-out;
        &:hover {
          background: var(--black, #53616f);
          cursor: pointer;
        }
      }
      .carticon {
        background-color: #1e2832;
        color: white;
        padding: 0.65rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        transition: all 0.5s ease-in-out;
        &:hover {
          background: var(--black, #53616f);
          cursor: pointer;
        }
      }
    }
  }
}
@media screen and (max-width: 760px) {
  .navcontain {
    .navbar {
      display: flex;
      gap: 2rem;

      .right {
        display: none;
      }
    }
  }
}
