.footercontain {
  width: 100%;
  .sec1back {
    background: white;
    .sec1 {
      margin: 0 auto;
      width: 80%;
      display: grid;
      grid-template-columns: 2fr 1fr 1fr;
    }
  }
  .sec2back {
    color: white;
    font-size: small;
    font-weight: 300;
    padding: 0.5rem 0 0.5rem 0;
    background: #29262f;
    .sec2 {
      margin: 0 auto;
      width: 80%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .right {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
